body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        max-width: 800px;
        width: 100vw;
        overflow: hidden;

        .slider {
            background: tomato;
            display: flex;

            .img {
                flex: 1;
                background: darkcyan;

                img {
                    width: 100%;

                }   
            }
        }
    }

    footer {
        max-width: 800px;
        width: 100%;
        background: gold;
        display: flex;

        a {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 2rem;
            text-decoration: none;

            &:hover {
                background: red;
            }
        }
    }
}