body {
    background: lightgray;

    .toggle {
        width: 5rem;
        height: 1.5rem;
        background: rgba(255,0,0,.2);
        border-radius: 999rem;
        padding: .3rem;
        transition: background .4s ease;

        .dot {
            width: 1.5rem;
            height: 1.5rem;
            background: rgba(255,0,0,.5);
            border-radius: inherit;
            transition: all .4s ease;
        }

        &.on {
            background: rgba(0,180,0,.2);

            .dot {
                background: rgba(0,180,0,.5);
                margin-left: 3.5rem;
            }
        }

    }
}